.services_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: 100%;
    transition: var(--transition); 
    position: relative;
  }
  .service::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    transform-origin: 0 0;
    transform: scaleY(0);
    border-radius: 0 0 2rem 2rem;
   
  }
.service:hover::before{
    transform: scaleY(1);
}
.service:hover h4{
    color: #edfdff;
}


  
.service_head{
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.service_head h3{
    color: #fff;
    font-size: 1rem;
    text-shadow: 2px 2px 2px rgb(15, 15, 15);
    font-size: 22px;
}

.service_list{
    padding: 2rem;
}
.service_list h4{
    font-size: 18px;
    text-transform: capitalize;
    line-height: 35px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--color-light);
}



.serviceIcon{
    font-size: 35px;
    background-color: rgb(255, 60, 0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.service:hover .serviceIcon{
   transform: scale(1.1);
   box-shadow: 1px 2px 2px 1px rgb(15, 15, 15);
}
/*====================Media queries (Medium devices)======================*/

@media screen and (max-width: 1024px){
    .services_container{
        grid-template-columns: 1fr 1fr;
    }
    .service{
        height: auto;
    }
}
/*====================Media queries (smoll devices)======================*/

@media screen and (max-width: 600px){
    .services_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
